<a class="list-group-item clearfix">
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-4">
      <p class="list-group-item-text" style="font-size: x-large">{{offer.path.start}}</p>
    </div>
    <div class="col-md-offset-4  col-md-4">
      <p class="list-group-item-text" style="float: right; font-size: x-large">{{offer.path.destination}}</p>
    </div>
  </div>
  <p class="list-group-item-text">Enroute: {{offer.path.enroute}}</p>
  <p class="list-group-item-text">Date: {{offer.date}}</p>
  <p class="list-group-item-text">Available Seats: {{offer.maxSeats - offer.occupiedSeats}}</p>
  <p class="list-group-item-text">Comments: {{offer.comment}}</p>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
      <p class="list-group-item-text" style="font-size: large">Posted by: <a (click)="navigateToProfileOf(offer.userUsername)" style="cursor: pointer">{{offer.userUsername}}</a></p>
    </div>

    <div class="col-md-offset-4 col-md-4">
      <button class="btn btn-primary" style="float: right" (click)="getIn(offer.id)">Join!</button>
    </div>
  </div>
</a>
