<a class="list-group-item clearfix">
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-4">
      <p class="list-group-item-text" style="font-size: x-large">{{need.path.start}}</p>
    </div>
    <div class="col-md-offset-4  col-md-4">
      <p class="list-group-item-text" style="float: right; font-size: x-large">{{need.path.destination}}</p>
    </div>
  </div>
  <p class="list-group-item-text">Enroute: {{need.path.enroute}}</p>
  <p class="list-group-item-text">Date: {{need.date}}</p>
  <p class="list-group-item-text">Comments: {{need.comment}}</p>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-8">
      <p>People who offered: </p>
      <ul *ngIf="need.transporters != null">
        <li *ngFor="let transporters of need.transporters">
          <a (click)="seeTransportersProfile(transporters.username)" style="cursor: pointer">{{ transporters.username }}</a>
        </li>
      </ul>
      <p *ngIf="need.transporters[0] == null">No offers yet. </p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger" style="float: right" (click)="deleteNeed(need.id)">Delete</button>
    </div>
  </div>
</a>
