<div class="list-group-item" style="margin-top: 1%">
  <form class="form-inline" (ngSubmit)="justLog(search)" #search="ngForm" style=" display: inline-block">

    <div class="form-group">
      <label for="fromLocation">From:</label>
      <input type="text" id="fromLocation" name="fromLocation" ngModel class="form-control" required>
    </div>

    <div class="form-group">
      <label for="toLocation">To:</label>
      <input type="text" id="toLocation" name="toLocation" ngModel class="form-control" required>
    </div>

    <div class="form-group">
      <label for="searchType">Type:</label>
      <select type="searchType" id="searchType" name="searchType" ngModel class="form-control" required>
        <option value="offers">Offers</option>
        <option value="requests">Requests</option>
      </select>
    </div>

    <div class="form-group">
      <label for="date">When</label>
      <input class="form-control" type="date" ngModel name="date" id="date" required>

    </div>

    <button type="submit" class="btn btn-default" [disabled]="!search.valid" (click)="fetchData()">Submit</button>

  </form>
</div>
