<h3>
  My Profile
</h3>
<hr>
<div *ngIf="isDataLoaded">
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src={{userDetails.details.image}} class="img-rounded" style="width: 100%; height: 100%"
             alt="profilepicture">
        <h3 style="padding-left: 5%;">{{userDetails.firstName}} {{userDetails.lastName}}</h3>
      </div>
    </div>
  </div>

  <div class=" col-md-8">
    <!--about me panel-->
    <div class="panel panel-default">
      <div class="panel-heading">About me</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Bio:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.details.bio}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--contacts panel-->
    <div class="panel panel-default">
      <div class="panel-heading">Contacts</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Email:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.email}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Mobile:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.details.phoneNumber}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Facebook:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.details.facebookProfile}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--more info panel-->
    <div class="panel panel-default">
      <div class="panel-heading">Personal Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Address:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.details.city}}, {{userDetails.details.country}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Gender:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.details.gender}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>License:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.details.driverLicense}}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="toEdit()" style="margin-left: auto; display: block">Edit Profile</button>

  </div>
</div>
</div>
