<div class="row">
  <div class="col-md-10">
    <h3>
      {{userDetails.username}}'s Profile
    </h3>
  </div>
  <div class="col-md-2">
    <h3>
    <button class="btn btn-primary" (click)="toEdit()" style="margin-top: auto; margin-bottom: auto;margin-left: auto; display: block">Edit Profile</button>
    </h3>
  </div>
</div>

<hr>
<div *ngIf="isDataLoaded">
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src={{userDetails.userProfile.image}} class="img-rounded" style="width: 100%; height: 100%"
             alt="profilepicture">
        <h3 style="padding-left: 5%;">{{userDetails.firstName}} {{userDetails.lastName}}</h3>
      </div>
    </div>
  </div>

  <div class=" col-md-8">
    <!--about me panel-->
    <div class="panel panel-default">
      <div class="panel-heading">About me</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Bio:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.userProfile.bio}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--contacts panel-->
    <div class="panel panel-default">
      <div class="panel-heading">Contacts</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Email:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.email}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Mobile:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.userProfile.phoneNumber}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Facebook:</label>
          </div>
          <div class="col-md-offset-2">
            <p><a href="{{userDetails.userProfile.facebookProfile}}" target="_blank">{{userDetails.userProfile.facebookProfile}}</a></p>
          </div>
        </div>
      </div>
    </div>
    <!--more info panel-->
    <div class="panel panel-default">
      <div class="panel-heading">Personal Information</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Birth Date:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.userProfile.birthDate}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Address:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.userProfile.city}}, {{userDetails.userProfile.country}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>Gender:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.userProfile.gender}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2" style="text-align: right">
            <label>License:</label>
          </div>
          <div class="col-md-offset-2">
            <p>{{userDetails.userProfile.driverLicense}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
