<p>
  profile works!
</p>
<a class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">ID: {{userDetailsteszt.firstName}}</h4>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.lastName}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.email}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.addressCity}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.addressCountry}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.birthdate}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.driverLicense}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.phone}}</p>
    <p class="list-group-item-text">User ID: {{userDetailsteszt.profilePicture}}</p>
  </div>
</a>
