<a class="list-group-item clearfix">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-md-4">
        <p class="list-group-item-text" style="font-size: x-large">{{need.path.start}}</p>
      </div>
      <div class="col-md-offset-4  col-md-4">
        <p class="list-group-item-text" style="float: right; font-size: x-large">{{need.path.destination}}</p>
      </div>
    </div>
      <p class="list-group-item-text">Enroute: {{need.path.enroute}}</p>
      <p class="list-group-item-text">Date: {{need.date}}</p>
    <p class="list-group-item-text">Comments: {{need.comment}}</p>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
      <p class="list-group-item-text" style="font-size: large">Posted by: <a>{{need.username}}</a></p>
    </div>
    <div class="col-md-offset-4 col-md-4">
      <button class="btn btn-primary" style="float: right" (click)="giveOffer(need.id)">Give offer!</button>
    </div>
  </div>
</a>
