<div class="row" style="padding-top: 15px">
  <div class="col-md-6">
    <button class="btn btn-primary" (click)="loadData()" *ngIf="isDataLoaded">Load Current Profile</button>
    <button class="btn btn-primary" (click)="clearData()">Clear Fields</button>
  </div>
  <div class="col-md-offset-6 ">
    <button class="btn btn-primary" (click)="cancelEdit()" style=" margin-left: 5px;float: right">Cancel</button>
    <button class="btn btn-primary" (click)="saveData()" style=" float: right">Save</button>
  </div>
</div>
<hr>
<!--*ngIf="isDataLoaded"-->
<div>

  <form #editForm="ngForm">
    <div class="form-group row">
      <div class="col-md-10">
        <input type="hidden" ngModel name="username" id="username">
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="col-md-2">First Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" ngModel name="firstName" id="firstName">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-md-2">Last Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" ngModel name="lastName" id="lastName">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-md-2">Email</label>
      <div class="col-md-10">
        <input class="form-control" type="email" ngModel name="email" id="email">
      </div>
    </div>
    <div id="userProfile" ngModelGroup="userProfile">
      <div class="form-group row">
        <label for="birthDate" class="col-md-2">Birth Date</label>
        <div class="col-md-10">
          <input class="form-control" type="date" ngModel name="birthDate" id="birthDate">
        </div>
      </div>
      <div class="form-group row">
      <label for="image" class="col-md-2">Profile picture</label>
      <div class="col-md-10">
        <input class="form-control" type="url" ngModel name="image" id="image">
      </div>
    </div>
      <div class="form-group row">
        <label for="facebookProfile" class="col-md-2">Facebook Profile</label>
        <div class="col-md-10">
          <input class="form-control" type="url" ngModel name="facebookProfile" id="facebookProfile">
        </div>
      </div>
      <div class="form-group row">
        <label for="bio" class="col-md-2">Bio</label>
        <div class="col-md-10">
          <textarea class="form-control" type="text" ngModel name="bio" id="bio"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="gender" class="col-md-2">Gender</label>
        <div class="col-md-10">
          <select class="form-control" name="gender" ngModel id="gender">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="city" class="col-md-2">City</label>
        <div class="col-md-10">
          <input class="form-control" type="text" ngModel name="city" id="city">
        </div>
      </div>

      <div class="form-group row">
        <label for="country" class="col-md-2">Country</label>
        <div class="col-md-10">
          <input class="form-control" type="text" ngModel name="country" id="country">
        </div>
      </div>

      <div class="form-group row">
        <label for="phoneNumber" class="col-md-2">Phone Number</label>
        <div class="col-md-10">
          <input class="form-control" type="tel" ngModel name="phoneNumber" id="phoneNumber">
        </div>
      </div>

      <div class="form-group row">
        <label for="driverLicense" class="col-md-2">Driver License</label>
        <div class="col-md-10">
          <select class="form-control" name="driverLicense" ngModel id="driverLicense">
            <option>Yes</option>
            <option>No</option>
          </select>

        </div>
      </div>
    </div>
  </form>
</div>
